[Desktop Entry]
Encoding=UTF-8
Name=NoirShares
Comment=NoirShares P2P Cryptocurrency
Comment[fr]=NoirShares, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NoirShares, eşten eşe kriptografik sanal para birimi
Exec=noirshares-qt %u
Terminal=false
Type=Application
Icon=noirshares128
MimeType=x-scheme-handler/noirshares;
Categories=Office;Finance;
