policy_module(noirshares, 1.100.1)

########################################
#
# Declarations
#

type noirshares_t;
type noirshares_exec_t;
init_daemon_domain(noirshares_t, noirshares_exec_t)

permissive noirshares_t;

type noirshares_initrc_exec_t;
init_script_file(noirshares_initrc_exec_t)

type noirshares_conf_t;
files_type(noirshares_conf_t)

type noirshares_var_lib_t;
files_type(noirshares_var_lib_t)

type noirshares_var_run_t;
files_type(noirshares_var_run_t)

type noirshares_port_t;
corenet_port(noirshares_port_t)

########################################
#
# noirshares local policy
#
allow noirshares_t self:process { fork };

allow noirshares_t self:fifo_file rw_fifo_file_perms;
allow noirshares_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(noirshares_t, noirshares_conf_t, noirshares_conf_t)
manage_files_pattern(noirshares_t, noirshares_conf_t, noirshares_conf_t)

manage_dirs_pattern(noirshares_t, noirshares_var_lib_t, noirshares_var_lib_t)
manage_files_pattern(noirshares_t, noirshares_var_lib_t, noirshares_var_lib_t)
files_var_lib_filetrans(noirshares_t, noirshares_var_lib_t, { dir file })

manage_dirs_pattern(noirshares_t, noirshares_var_run_t, noirshares_var_run_t)
manage_files_pattern(noirshares_t, noirshares_var_run_t, noirshares_var_run_t)

sysnet_dns_name_resolve(noirshares_t)
corenet_all_recvfrom_unlabeled(noirshares_t)

allow noirshares_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(noirshares_t)
corenet_tcp_sendrecv_generic_node(noirshares_t)
corenet_tcp_sendrecv_all_ports(noirshares_t)
corenet_tcp_bind_generic_node(noirshares_t)

gen_require(`
    type noirshares_port_t;
')
allow noirshares_t noirshares_port_t:tcp_socket name_bind;

gen_require(`
    type noirshares_port_t;
')
allow noirshares_t noirshares_port_t:tcp_socket name_connect;

domain_use_interactive_fds(noirshares_t)

files_read_etc_files(noirshares_t)

miscfiles_read_localization(noirshares_t)

sysnet_dns_name_resolve(noirshares_t)

allow noirshares_t noirshares_exec_t:file execute_no_trans;
allow noirshares_t self:process setsched;
corecmd_exec_ls(noirshares_t)
corenet_tcp_connect_http_port(noirshares_t)
dev_read_urand(noirshares_t)
fs_getattr_xattr_fs(noirshares_t)
kernel_read_system_state(noirshares_t)
